html {
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

.container {
    max-width: calc(1145px + 30px);
    margin: 0 auto;
    padding: 0 15px;
}

.header_list {
    text-align: center;

}

.header_item {
    padding: 26px 0;
    padding-left: 72px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-align: center;
    color: #FF0000;
    text-transform: uppercase;
}

.header_item:first-child {
    padding-left: 0px;
}

.banner {
    background-image: url(../images/banner.jpg);
    height: 789px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.info_wrap {
    text-align: center;
}

.info_title {
    color: #373737;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.29px;
    text-align: center;
    margin-bottom: 38px;
}

.info_descr,
.info_text {
    display: inline-block;
    color: #373737;
    max-width: 1145px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.info_descr {
    margin-bottom: 28px;
}

.info_text {
    margin-bottom: 66px;
}

.info__btn {
    display: inline-block;
    padding: 18px 43px;
    border: none;
    background-color: #FF0000;
    color: #fff;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 82px;
}

.footer .container {
    max-width: 1070px;
}

.footer_cop {
    color:#373737;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
    margin-bottom: 29px;
}